<div class="widget-container-debug">
  <widget-echarts
    [option]="{title: '我的工时'}"
    tooltipSuffix="h"
  ></widget-echarts>
</div>
<div class="widget-container-debug">
  <widget-simple-line
    [option]="{title: '团队日报提交率'}"
    tooltipSuffix="%"
  ></widget-simple-line>
</div>
<div class="widget-container-debug">
  <widget-simple-line
    [option]="{title: '我的工时'}"
    tooltipSuffix="h"
    mainColor="#1687D9"
  ></widget-simple-line>
</div>
<div class="widget-container-debug">
  <lib-widget-weather></lib-widget-weather>
</div>
<div class="widget-container-debug">
  <lib-widget-personal-info ></lib-widget-personal-info>
</div>
<div class="widget-container-debug">
  <lib-widget-common-functions
    [option]="{title:'测试标题'}" ></lib-widget-common-functions>
</div>
<div class="widget-container-debug">
  <lib-widget-common-functions
    [option]="{title:'测试标题'}" ></lib-widget-common-functions>
</div>