<div class="widget-container-debug">
  <widget-echarts
    title="我的工时"
    tooltipSuffix="h"
  ></widget-echarts>
</div>
<div class="widget-container-debug">
  <widget-simple-line
    title='团队日报提交率'
    tooltipSuffix="%"
  ></widget-simple-line>
</div>
<div class="widget-container-debug">
  <widget-simple-line
    title='我的工时'
    tooltipSuffix="h"
    mainColor="#1687D9"
  ></widget-simple-line>
</div>
<div class="widget-container-debug">
  <lib-widget-weather></lib-widget-weather>
</div>
<div class="widget-container-debug">
  <lib-widget-personal-info ></lib-widget-personal-info>
</div>
<div class="widget-container-debug">
  <lib-widget-pie
    title='饼图'
  ></lib-widget-pie>
</div>
<div class="widget-container-debug">
  <lib-widget-common-functions
    title='常用功能'
  ></lib-widget-common-functions>
</div>
<div class="widget-container-debug">
  <widget-number
    title='数字小板'
  ></widget-number>
</div>

<div class="widget-container-debug" style="width: 886px; height: 518px;">
  <lib-widget-task  title='待办任务'> 
  </lib-widget-task>
</div>
