
.widget-project-public {
    .title {
        font-size: 42px;
        font-weight: bold;
        color: #c8cdd4;
        margin-top: 30px;
        margin-bottom: 20px;
        .material-icons {
            font-size: 40px;
            vertical-align: middle;
        }
        span {
            margin-left: 15px;
        }
    }
    .content {
        color: #b1bbc9;
    }
}

.widget-container-debug {
    height: 300px;
    width: 30%;
    // width: 400px;
    display: inline-block;
    box-shadow: 0 5px 15px 0 #e5edf0;
    transition: all .3s;
    border-radius: 3px;
    overflow: hidden;
    vertical-align: top;
    margin: 10px;
    &:hover {
        box-shadow: 0 10px 20px 0px #d8e2e6;
    }
}